html {
  height: 100%;
}
h1 {
  font-size: 46px;
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-top: 2rem;
}
body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}
main {
  display: flex;
}
h2 {
  display: flex;
  justify-content: center;
}
figure {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 0;
}
ul {
  padding-top: 10rem;
  list-style: none;
  padding-left: 1px;
}

button {
}
