img {
  width: 300px;
}

.randomWord{
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.letterButtons{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}
.letterButtons li{
  margin-right:10px;
}