html {
  height: 100%;
}

.increasing {
  color: red;
}

img {
  max-width: 50px;
  float: left;
}
h1 {
  margin-top: 30px;
  padding: 10px;
}
body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font: 2rem;
}
li {
  list-style: none;
  font: 5rem;
}
input,
p {
  margin-left: 20px;
}
button {
  border-radius: 40%;
  height: 1.3rem;
}
