body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #aaa;
}

ul {
  list-style: none;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 100px;
  height: 100px;
  margin: 10px;
  perspective: 5000px;
}

.content {
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.card.flipped .content {
  transform: rotateY(180deg);
  transition: transform 2s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 100px;
  text-align: center;
  font-size: 3.5rem;
  border-radius: 20px;
  backface-visibility: hidden;
}

.front {
  background: #222;
}

.back {
  transform: rotateY(180deg);
}

.solved .back {
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}

.unsolved .back {
  background: radial-gradient(
        circle farthest-side at 0% 50%,
        #fb1 23.5%,
        rgba(240, 166, 17, 0) 0
      )
      21px 30px,
    radial-gradient(
        circle farthest-side at 0% 50%,
        #b71 24%,
        rgba(240, 166, 17, 0) 0
      )
      19px 30px,
    linear-gradient(
        #fb1 14%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 85%,
        #fb1 0
      )
      0 0,
    linear-gradient(
        150deg,
        #fb1 24%,
        #b71 0,
        #b71 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #b71 0,
        #b71 76%,
        #fb1 0
      )
      0 0,
    linear-gradient(
        30deg,
        #fb1 24%,
        #b71 0,
        #b71 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #b71 0,
        #b71 76%,
        #fb1 0
      )
      0 0,
    linear-gradient(90deg, #b71 2%, #fb1 0, #fb1 98%, #b71 0%) 0 0 #fb1;
  background-size: 40px 60px;
}
